.events-container {
    position: relative;
    padding: 0.2rem 0 0.2rem 0;
    display: flex;
    align-items: stretch;
    transition: min-height 0.2s ease;
}

ul {
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
}

/* Mobile */
@media (max-width: 768px) {
    .events-container {
        padding: 0.5rem 0 2.75rem 0;
    }
    
    ul {
        min-height: 130px;
    }
}

@media (max-width: 650px) {
    .events-container {
        position: absolute;
        left: 1rem;
        top: 0;
        right: 0;
        width: calc(100% - 1rem - 0.5rem);
        max-width: calc(100% - 1rem - 0.5rem);
        padding: 0;
        margin: 0;
        display: block;
        box-sizing: border-box;
    }
    
    ul {
        height: 100%;
        width: 100%;
        max-width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
}
