/* Timeline wrapper */
.timeline-wrapper {
    position: relative;
    height: auto;
}

@media (max-width: 650px) {
    /* Timeline verticale */
    .timeline-wrapper {
        position: relative;
    }
}
